.footer{
   position:absolute;
   left:0;
   bottom:0;
   right:0; 
   height: 100px;
   background-color: none !important;
}

.brand {
   color : slategray;
   font-weight: 700;
   margin-left: 20px;
   margin-top: 10px;
 }

 .copyright {
    color : whitesmoke;
    margin-top: 70px;
    padding-right: 10px;
    font-size: small;
 }
